.img {
  margin: 100px 100px;
  border-radius: 60%;
}
/* .bevelBox {
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.4),
    inset -4px -4px 4px rgba(0, 0, 0, 0.4);
}
.shadowOnClick:active {
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -0px 0px rgba(0, 0, 0, 0.4);
  
} */

.bevelBox {
  background-color:rgb(232, 232, 233); color:rgb(29, 84, 156) !important; padding:1.5% 0%;
  
}
.shadowOnClick:active {
  
  background-color:white; color:rgb(29, 84, 156); border:2px solid rgb(29, 84, 156); margin-top:-2px; padding:1.5% 0%;
} 

.bevelOnImgDuplicate {
  content: url(/resource/1580989644000/duplicateforestimatesummaryscreen);
  display: block;
}
.bevelOnImgDuplicate:active {
  content: url(/resource/1564732097000/OnClicks3duplicatebtn);
  display: block;
  overflow: hidden;
}

.bevelOnImgDelete {
  content: url(/resource/1580989704000/deleteforestimatesummaryscreen);
  display: block;
}
.bevelOnImgDelete:active {
  content: url(/resource/1564732132000/OnClicks3binbtn);
  display: block;
  overflow: hidden;
}
.trybutton{
  width:30%; padding: 2.5%; font-size: 16px; font-weight:bold; color:white; border-radius: 5px; text-align: center; font: size 25px; background-color:rgb(29, 84, 156)
}
.trybuttonL:active{
  width:30%; background-color:white !important; font-weight:bold; color:#1D549C; margin-top:-2px; border:2px solid rgb(29, 84, 156); padding: 2.5%; font-size: 16px; font-weight:bold; border-radius: 5px; text-align: center; font: size 25px;
}
