.radio-button-span {
    height: 75px;
}
.radio-button-label {
    padding: 10px;
    border-radius:50px;
    border:3px solid;
    border-color:rgb(29, 84, 156);
}
.radio-button-label-selected {
    padding: 10px;
    border-radius:50px;
    border:3px solid;
    border-color:rgb(29, 84, 156);
    background-color:rgb(29, 84, 156);
}
.radio-button-ball-selected {
    padding: 10px;
    border-radius:50px;
    border:3px solid;
    border-color:rgb(29, 84, 156);
    background-color:rgb(29, 84, 156);
}
.radio-button-text-selected {
    padding: 10px;
    border-radius:50px;
    border:3px solid;
    border-color:rgb(29, 84, 156);
    background-color:rgb(29, 84, 156);
}
.label-Selected {
    color: white;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.required:after {
    content:" *";
    color: red;
  }
